@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes glow {
  from {
    filter: drop-shadow(0 -1mm 1mm rgb(160, 0, 210));
  }

  to {
    filter: drop-shadow(0 -6mm 4mm rgb(160, 0, 210));
  }
}
