@import 'variables';
.top {
  height: 600px;

  #sala {
    height: 100%;
    position: relative;
    .fsSlider {
      display: flex;
      height: 100%;
      overflow: hidden;
      position: relative;
      .slideContainer {
        height: 100%;
        width: 100vw;
        transition: ease all 1s;
        position: relative;
        display: flex;
        img {
          object-fit: cover;
          height: 100%;
          width: 100vw;
        }
        .multipleImageContainer {
          display: flex;
          width: 100vw;
          height: 100%;
          position: relative;
          img {
            border-right: 10px solid white;
            width: 100%;
            height: 100%;
            // object-fit: cover;
            position: absolute;
          }
        }
        .title {
          position: absolute;
          width: 100%;
          top: 0;
          bottom: 0;
          margin: auto;
          background: rgba(0, 0, 0, 0.5);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          h1 {
            font-size: 4rem;
            text-align: center;
            font-family: $primary-font;
            color: goldenrod;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 700;
            text-shadow: 1px 1px #000;
          }
          small {
            font-size: 40px;
            letter-spacing: 1px;
            font-weight: 300;
            font-family: $second-font;
            color: #fff;
            text-align: center;
            text-shadow: 1px 1px #000;
          }
        }
      }
    }
    .controls {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      visibility: hidden;
      padding: 0 15px;
      button {
        font-size: 2rem;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 50%;
        border: 0;
        color: $gold;
        opacity: 0.6;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: visible;
      }
    }
  }
}

@import 'responsive';
