@import 'variables';
.modal {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: zoomIn 0.3s ease;
  img {
    height: 95%;
  }
  svg {
    fill: $gold;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

@import 'animations';
@import 'responsive';
